<div class="joliemoi-root-page">
  <div class="joliemoi-page-desc">
    <h1>This is a page for<br />beauty product search</h1>
  </div>
  <div class="joliemoi-bg-img">
    <img
      src="./assets/img/portrait-young-beautiful-woman-gesticulating-min.jpg"
      alt=""
    />
  </div>
  <div class="joliemoi-search-area">
    <div class="container">
      <form [formGroup]="searchFormGroup" (ngSubmit)="onSubmit()">
        <input
        class="animate__animated animate__slideInUp"
          type="text"
          formControlName="query"
          placeholder="Search for a beauty product"
        />
        <button type="submit" class="animate__animated animate__slideInDown">Search</button>
      </form>
      <app-search-result
        [searchResult]="producResponseData"
        [isLoading]="isLoading"
      ></app-search-result>
    </div>
  </div>
</div>