<div class="result-container-wrapper">
  <div class="loader" *ngIf="isLoading">
    <img src="./../assets/img/eclipse-0.5s-201px.gif" alt="" />
  </div>
  <ul>
    <li *ngFor="let product of searchResult; let i = index">
      <p><span>{{ product.brand }}</span> - {{ product.name }}</p>
    </li>
  </ul>
</div>
