@import "./../../../assets/scss/_variables";

.result-container-wrapper {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 30px;
  padding-left: 20px;
  ul {
    color: $whiteColor;
    p {
      span {
        font-weight: 600;
      }
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  .loader {
    text-align: center;
    img {
      width: 70px;
      height: 70px;
      object-fit: contain;
    }
  }
}
